LASTFM_API_KEY="LASTFM_API_KEY_PLACEHOLDER"
LASTFM_API_SECRET="LASTFM_API_SECRET_PLACEHOLDER"
PLEX_BASE_URL="http://localhost:32400"
PLEX_TOKEN="PLEX_TOKEN_PLACEHOLDER"
GEMINI_API_KEY="GEMINI_API_KEY_PLACEHOLDER"
